/**
 * @file
 * Visual styles for Bartok's block demonstration.
 */

.demo-block {
  margin: 5px;
  padding: 5px;
  text-align: center;
  color: #000;
  border: 1px dotted #9f9e00;
  background: #ff6;
  text-shadow: none;
  font: 90% "Lucida Grande", "Lucida Sans Unicode", sans-serif;
}
.featured-top .demo-block {
  font-size: 0.55em;
}
