/**
 * @file
 * Styles for Bartok's pagination.
 */

/* Using .pager selector on the first one to override .region-content ul. */
.pager .pager__items {
  padding: 0;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
}
.pager__item {
  padding: 10px 15px;
  font-size: 0.929em;
}
.pager__item a {
  display: inline-block;
}
.pager__item.is-active a {
  color: #3b3b3b;
  border-bottom: 0;
}
.pager__item--first,
.pager__item--previous {
  padding: 10px 10px 10px 0; /* LTR */
}
[dir="rtl"] .pager__item--first,
[dir="rtl"] .pager__item--previous {
  padding-right: 0;
  padding-left: 10px;
}
.pager__item--ellipsis {
  padding: 10px 0;
}
.pager__item--last,
.pager__item--next {
  padding: 10px 0 10px 10px; /* LTR */
}
[dir="rtl"] .pager__item--last,
[dir="rtl"] .pager__item--next {
  padding-right: 10px;
  padding-left: 0;
}
