/**
 * @file
 * Visual styles for the Shortcut action link in Bartok.
 */

.shortcut-wrapper {
  margin: 2.2em 0 1.1em 0; /* Same as usual .page-title margin. */
}
.shortcut-wrapper .page-title {
  float: left; /* LTR */
  margin: 0;
}
[dir="rtl"] .shortcut-wrapper .page-title {
  float: right;
}
.shortcut-action {
  margin-left: 0.5em; /* LTR */
  padding-top: 0.35em;
  border-bottom: none;
}
[dir="rtl"] .shortcut-action {
  margin-right: 0.5em;
  margin-left: 0;
}
.shortcut-action:hover,
.shortcut-action:active,
.shortcut-action:focus {
  border-bottom: none;
}
