/**
 * @file
 * Styles for Bartok's modal windows
 */

.ui-widget-overlay {
  opacity: 0.7;
  background: #000;
}
.ui-dialog {
  border-radius: 0;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
}
.ui-dialog input,
.ui-dialog select,
.ui-dialog textarea {
  font-size: 0.9em;
}
.ui-dialog .button {
  padding: 0.25em 1.063em;
  cursor: pointer;
  text-align: center;
  color: #3a3a3a;
  border: 1px solid #e4e4e4;
  border-right-color: #d2d2d2;
  border-bottom-color: #b4b4b4;
  border-left-color: #d2d2d2;
  border-radius: 1em;
  background-color: #fff;
  background-image: -webkit-linear-gradient(top, #f3f3f3, #e8e8e8);
  background-image: linear-gradient(to bottom, #f3f3f3, #e8e8e8);
  font-size: 0.929em;
  font-weight: normal;
}
