{#
/**
 * @file
 * Bartok's theme implementation for a menu block.
 *
 * Available variables:
 * - plugin_id: The ID of the block implementation.
 * - label: The configured label of the block if visible.
 * - configuration: A list of the block's configuration values.
 *   - label: The configured label for the block.
 *   - label_display: The display settings for the label.
 *   - provider: The module or other provider that provided this block plugin.
 *   - Block plugin specific settings will also be stored here.
 * - content: The content of this block.
 * - attributes: HTML attributes for the containing element.
 *   - id: A valid HTML ID and guaranteed unique.
 * - title_attributes: HTML attributes for the title element.
 * - content_attributes: HTML attributes for the content element.
 * - title_prefix: Additional output populated by modules, intended to be
 *   displayed in front of the main title tag that appears in the template.
 * - title_suffix: Additional output populated by modules, intended to be
 *   displayed after the main title tag that appears in the template.
 *
 * Headings should be used on navigation menus that consistently appear on
 * multiple pages. When this menu block's label is configured to not be
 * displayed, it is automatically made invisible using the 'visually-hidden' CSS
 * class, which still keeps it visible for screen-readers and assistive
 * technology. Headings allow screen-reader and keyboard only users to navigate
 * to or skip the links.
 * See http://juicystudio.com/article/screen-readers-display-none.php and
 * http://www.w3.org/TR/WCAG-TECHS/H42.html for more information.
 */
#}
{% if derivative_plugin_id == 'main' %}
	{%
	  set classes = [
		'block',
		'block-menu',
		'navigation',
		'navbar',
		'navbar-expand-sm',
		'navbar-dark',
		'menu--' ~ derivative_plugin_id|clean_class
	  ]
	%}
{% else %}
	{%
	  set classes = [
		'block',
		'block-menu',
		'navigation',
		'menu--' ~ derivative_plugin_id|clean_class
	  ]
	%}
{% endif %}

{% set heading_id = attributes.id ~ '-menu'|clean_id %}
{% set show_anchor = "show-" ~ attributes.id|clean_id %}
{% set hide_anchor = "hide-" ~ attributes.id|clean_id %}

<nav role="navigation" aria-labelledby="{{ heading_id }}"{{ attributes.addClass(classes)|without('role', 'aria-labelledby') }}>
	{% if not configuration.label_display %}
	{% endif %}
  {# Label. If not displayed, we still provide it for screen readers. #}
  {#
  {% if not configuration.label_display %}
	{% set title_attributes = title_attributes.addClass('visually-hidden') %}
  {% endif %}
  {{ title_prefix }}
  <h2{{ title_attributes.setAttribute('id', heading_id) }}>{{ configuration.label }}</h2>
  {{ title_suffix }}
  #}

  {# Menu. #}
  {% block content %}
  	{% if derivative_plugin_id == 'main' %}
	  {%
		set contentclasses = [
		  'content',
		  'navbar-collapse',
		  'collapse',
		  'navbars--' ~ derivative_plugin_id|clean_class
		]
	  %}
	  <button class="navbar-toggler collapsed" type="button" data-toggle="collapse" data-target=".navbars--{{derivative_plugin_id}}" aria-controls="navbars--{{derivative_plugin_id}}" aria-expanded="false" aria-label="Toggle navigation"><span class="navbar-toggler-icon"></span></button>
	{% else %}
		{%
		  set contentclasses = [
			'content',
		  ]
		%}
	{% endif %}
	<div{{ content_attributes.addClass(contentclasses) }}>
	  {# When rendering a menu without label, render a menu toggle. #}
	  <div class="menu-toggle-target menu-toggle-target-show" id="{{ show_anchor }}"></div>
	  <div class="menu-toggle-target" id="{{ hide_anchor }}"></div>
	  <a class="menu-toggle" href="#{{ show_anchor }}">{% trans %} Show &mdash; {{ configuration.label }}{% endtrans %}</a>
	  <a class="menu-toggle menu-toggle--hide" href="#{{ hide_anchor }}">{% trans %} Hide &mdash; {{ configuration.label }}{% endtrans %}</a>
	  {{ content }}
	</div>
  {% endblock %}
</nav>
